input[type='checkbox'] {
    accent-color: rgb(5, 162, 5);
  }
  
  .rounded-checkbox {
    width: 30px; 
    height: 30px; 
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid black;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-top: -30px;
}
  
  .rounded-checkbox:checked {
    appearance: auto;
    clip-path: circle(50% at 50% 50%);
    background-color: lightgreen; 
  }

  .badge {
    background-color: rgba(19, 58, 111, 255);
    color: white;
    padding: 0;
    border-radius: 5px;
    font-size: 12px;
    display: inline-block;
    height: 20px; 
    line-height: 20px; 
    position: relative; 
    padding-right: 20px;
}

.badge:after {
    content: '';
    position: absolute;
    right: -10px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 0;
    height: 0;
    border-left: 10px solid transparent; 
    border-right: 10px solid transparent; 
    border-top: 10px solid rgba(19, 58, 111, 255); 
    border-bottom: 10px solid rgba(19, 58, 111, 255);
}





  